<!DOCTYPE=html>

<html>
  <head>
    <title>Derek Silverman</title>
    <link href="/css/animate.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200' rel='stylesheet' type='text/css'>

    <style>

    body { 
      text-align: center;
      background : #66cc99;
      border: 20px white solid;
      margin: 0px !important;
    }

    .header {
      height: 100%;
      width: 100%;
    }

    .header .name{
      font-family: 'Sanchez', serif;
      color: white;
      margin: 0 auto;
      padding-top: 275px;
      font-size: 100px;
    }

     .header p {
      color: white;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 2px;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 1s;
    }

    a:-webkit-any-link {
      color: white;
      text-decoration: none;
      cursor: auto;
    }

    </style>

  </head>
  
  <body>
  <div class="header">
  <%= yield %>
  <span><p><a href="http://www.linkedin.com/in/dereksilverman" target="_blank">LinkedIn</a> <a href="https://twitter.com/dereksilverman" target="_blank">Twitter</a> <a href="https://github.com/dereksilverman" target="_blank">GitHub</a></p></span>
  </div>
  </body>

<script>

$('.name').addClass('animated flipInX');
$('.header p').addClass('animated fadeIn');

</script>



</html>
